@using Microsoft.AspNetCore.Identity
@inject ICuentaAhorroBL cuentaAhorroBL
@inject ITarjetaCreditoBL tarjetaCreditoBL
@inject IPrestamoBL prestamoBL


@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

    var accounts_User = (await cuentaAhorroBL.GetAll()).
    Where(x => x.Id_Usuario == User.Claims.First().Value).ToList();

    var credits_card_User = (await tarjetaCreditoBL.FindByCondition(x => x.Id_usuario == User.Claims.First().Value)).ToList();

    var prestamos_user = (await prestamoBL.FindByCondition(x => x.Id_Usuario == User.Claims.First().Value)).ToList();


    var active = accounts_User.Sum(x => x.Balance_Actual);
    var credito = credits_card_User.Sum(x => x.Balance_disponible);
}

@section CSS{
<link rel="stylesheet" href=~/css/dashboard.css />
}


<section class="container" id="welcomeContainer">
    <div class="rows">
        <div class="col-12" id="bienvenida">
            <h2 id="bienvenidaUser"> Bienvenido @User.Identity.Name</h2>
            <p style="text-align:center">@DateTime.Now.ToLongDateString()</p>
        </div>
    </div>
</section>

<section class="container" id="productsContainer">

    <div id="accordionInfo">
        <div class="card infocard">
            <div class="card-header" id="headingSummary">
                <button class="btn btn-acd" data-toggle="collapse" data-target="#collapseSummary" aria-expanded="true" aria-controls="collapseSummary">
                    <h2 class="cardTitle">Resumen</h2>
                </button>
            </div>
            <div id="collapseSummary" class="collapse show" aria-labelledby="headingSummary" data-parent="#accordionInfo">
                <div class="card-body" id="summary">
                    <h5 class="bg-success text-white" style="border-radius:8px; padding:10px;">Activos @active.ToString("C",CultureInfo.CurrentCulture)  </h5>
                    <h5 class="bg-secondary text-white" style="border-radius:8px; padding:10px;">Credito @credito.ToString("C",CultureInfo.CurrentCulture)  </h5>
                    <h5 class="bg-warning text-white" style="border-radius:8px; padding:10px;">Prestamos @credito.ToString("C",CultureInfo.CurrentCulture)  </h5>

                </div>
            </div>
        </div>
        <div class="card infocard">
            <div class="card-header" id="headingAccounts">
                <button class="btn btn-acd" data-toggle="collapse" data-target="#collapseAccounts" aria-expanded="true" aria-controls="collapseAccounts">
                    <h2 class="cardTitle">Cuentas Bancarias</h2>
                </button>
            </div>
            <div id="collapseAccounts" class="collapse show" aria-labelledby="headingAccounts" data-parent="#accordionInfo">
                <div class="card-body" id="accounts">
                    @if (accounts_User.Count == 0)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card card_detail cardsAccount">
                                <div class="card-body">
                                    <h5 class="card-title">Usted no cuenta con cuentas</h5>
                                    <h6 class="card-subtitle mb-2 text-muted"><strong>Desea crear una ?</strong></h6>
                                    <a href="/CuentasAhorros/Create" class="card-link">Click aqui</a>

                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        @await Html.PartialAsync("Partials/BankAccounts/ListOfAccounts"
                    ,accounts_User)
                    }
                    @if (accounts_User.Count != 0)
                    {


                        <div class=" col-12 btnAcciones">
                            <a href="/CuentasAhorros/Create" class=" col-12 btn btn-agregar">Crear Nueva Cuenta</a>
                        </div>

                    }
                </div>
            </div>
        </div>
        <div class="card infocard">
            <div class="card-header" id="headingCredits">
                <button class="btn btn-acd" data-toggle="collapse" data-target="#collapseCredits" aria-expanded="true" aria-controls="collapseCredits">
                    <h2 class="cardTitle">Tarjetas de Credito</h2>
                </button>
            </div>
            <div id="collapseCredits" class="collapse show" aria-labelledby="headingCredits" data-parent="#accordionInfo">
                @if (credits_card_User.Count == 0)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="card card_detail cardsAccount">
                            <div class="card-body">
                                <h5 class="card-title">Usted no cuenta con cuentas</h5>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Desea crear una ?</strong></h6>
                                <a href="/tarjetaCredito/create" class="card-link">Click aqui</a>

                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @await Html.PartialAsync("Partials/CreditCard/ListOfCreditCards"
                ,credits_card_User)
                }
                @if (credits_card_User.Count != 0)
                {


                    <div class=" col-12 btnAcciones mb-3">
                        <a href="/tarjetaCredito/create" class=" col-12 btn btn-agregar">Crear Nueva Tarjeta de Credito</a>
                    </div>

                }
            </div>
        </div>
        <div class="card infocard">
            <div class="card-header" id="headingPrestamos">
                <button class="btn btn-acd" data-toggle="collapse" data-target="#collapsePrestamo" aria-expanded="true" aria-controls="collapsePrestamo">
                    <h2 class="cardTitle">Prestamos Activos</h2>
                </button>
            </div>
            <div id="collapsePrestamo" class="collapse show" aria-labelledby="headingPrestamos" data-parent="#accordionInfo">
                @if (prestamos_user.Count == 0)
                {
                    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                        <div class="card card_detail cardsAccount">
                            <div class="card-body">
                                <h4 class="card-title">Usted no cuenta con Prestamos</h4>
                                <h6 class="card-subtitle mb-2 text-muted"><strong>Desea solicitar uno ?</strong></h6>
                                <a href="/prestamo/create" class="card-link">Click aqui</a>


                            </div>
                        </div>
                    </div>
                }
                else
                {

                    @await Html.PartialAsync("Partials/Prestamos/ListOfPrestamos"
                    ,prestamos_user)
                }
                  @if (prestamos_user.Count != 0)
                {


                    <div class=" col-12 btnAcciones mb-3">
                        <a href="/prestamo/create" class=" col-12 btn btn-agregar">Crear Nuevo Prestamo</a>
                    </div>

                }
            </div>
        </div>

    </div>
</section>

@section Scripts{



<script src="~/js/dashboard.js"></script>
}